<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/goods/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="conainer">
        <div class="item-name">
            <p></p>
        </div>
        <div class="item-desription">
            <p></p>
        </div>
        <div class="item-price">
            <p></p>
        </div>
        <div class="buy-button">
            <!-- <button class="buy-button">Buy</button> -->
        </div>
    </div>

<script src="https://js.stripe.com/v3/"></script>
<script src="../../static/goods/js/scripts.js"></script>
</body>
</html>
